/*globali*/
body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
/*spedizione*/
.free-shipping-banner{
    text-align: center;
    background-color:#e52421;
    color: #fff;
    height:30px ;
  }
/*Navbar*/
  .custom-navbar .navbar-nav .nav-link {
    color:gray; /* Colore del testo dei link */
  }
  .custom-navbar .navbar-nav .nav-link.active {
    color:black; 
  }
  #logonav{
    width: 20%;
  }
  @media screen and (max-width: 500px){
    #logonav {
      width:60%;
    }
  }
/*Barra di ricerca*/
  .search-input {
    display: none;
  }
  .show-search-input {
    display: block !important;
  }
  #search-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
  }
  
  #search-overlay .container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #search-form-overlay {
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
  }
  #search-icon{font-size: 30px !important;}
  
  @media (max-width: 991px) {
    #search-form {
      display: none;
    }
  }
  
footer{
  margin-top: auto;
  color: white;
  width: 100%;
  height: 2.5rem; 
}
/*swiper*/
  .mySwiper1{
    width: 100% !important;
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  
/*swiper2*/
   .mySwiper2 {
      width: 60%;
      height: 100%;
    }
    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
  
    }
    .swiper-slide {
      text-align: center;
      display:block;
    }
    .swiper-pagination2  {
      text-align: center;
      margin-top: 30px;
      margin-bottom: 20px;
      }
/*index*/
.nome{
    height:50px;
    display: block;      
    overflow:hidden;
   } 
.cluster {
      text-align: center;
      margin-top: 10px;
      margin-bottom: 10px;
  }
#logo{
    width: 150px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
  }
  

#copyright{
    background-color:#e52421;
    color: #fff;
  }
  
/*scrolltop*/
.top {
    position: fixed;
    bottom: 10px;
    right: 15px;
    width: 55px;
    text-align: center;
    padding: 6px;
  }
#toparrow {
    max-width: 50px;
    cursor:pointer;
   z-index: 1;
  }
.cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    z-index:1;
  }
.cookie-banner p {
    margin: 0;
  }
  
.cookie-banner a {
    color: #e52421;
    text-decoration: none;
  }
.cookie-banner button {
    background-color: #e52421;
    color: #fff;
    border: none;
    padding: 8px 20px;
    margin-top: 10px;
    cursor: pointer;
  }
/*Chi siamo*/
#chisiamo.card {
    width:80%;
    margin:auto;
    margin-bottom: 20px!important;
    margin-top: 30px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid #ccc;
  }
#chisiamo.card:hover {
      transform: scale(1.1); 
    }
.team-card:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
.team-section {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px !important;
  }
  
.team-card {
    width: 300px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
.team-card img {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  @media (max-width: 600px) {
    .team-card {
      width: 100%;
    }
  }
#team /*h2*/ {
    text-align: center;
  }
/*contatti*/
#invia{
    margin-top:10px !important;
  }
.contact-form{
    margin-top: 10px;
  }
/*prodotti filtro dinamici*/
#filtroprodotti{
    margin-top: 30px;
    margin-left: 10px;
  }
  .price-container {
    margin-top: 20px;
  }
  h2{
    margin-bottom: 20px;
  }
  
  .product {
      text-align:center;
      margin-bottom: 15px;
  
  }
  .prodottoimg{ 
    height: 340px;
    width: 255px;}
/*carrello*/
#delete-icon{
  cursor: pointer;
  color: #e52421;

}
